name: Sync to Audition Tolosane

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to destination
        env:
          SYNC_TOKEN: ${{ secrets.SYNC_TOKEN }}
        run: |
          git remote add destination https://x-access-token:${SYNC_TOKEN}@github.com/Audition-Tolosane/Sitendautan.git
          git push destination main --force
